# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*

# IDE/OS
.vscode/
.idea/
.DS_Store

# Build
dist/
build/

venv/

# Firebase Admin Private Key (FCM Master Key)
firebase-key.json

outputs/    